*{
        box-sizing: border-box;
}

:root {
      /*Esto es para limpiar el codigo*/
        /* Si quiero cambiar el boorder radius ahora lo puedo hacer desde aqui 
        y se cambia en todo lugar  */
      --boorder-radius: 100px;
      --blue: #1c47ff;
      --pink: #d6a3fb;
      --green: #92c94b;
      --grey: #e5e5e5;
}

html, 
body{

      
      background: #000000;
      color: #ffffff;
      font-size: 30px;
      font-family: monospace;
}

h1 {
    font-size: 70px;
    line-height: 1em;
    margin: 0px;
}

h2 {
    font-size: 60px;
    margin: 0px;
}

a {
    color: #ffffff;
    text-decoration: none;
}



/*Esto es para hacer el efecto de deslizar*/
section {
    position: relative;
    display: flex;
    width: 100%;
    /*100% de la vista menos la navegacion realizada*/
    height: calc(100vh - 100px);
    top: 100px;
    z-index: 2;
}

section.sticky {
    position: sticky;
    margin-top: 100px;
}

section.full-screen {
    height: 100vh;
    top: 0;
    margin-top: 0;
    z-index: 3;
}

/*navigation*/
nav{
        /* background-color: #000; */
        position: fixed; /* Fija la barra de navegación en la pantalla */
        width: 100%; /* Ocupa el 100% del ancho de la ventana */
        height: 100px; /* Altura de 100 píxeles */
        top: 0; /* Se pega al borde superior */
        left: 0; /* Se pega al borde izquierdo */
        font-size: 20px; /* Tamaño de fuente de 20px */
        z-index: 1;
}

nav ul{
        display: flex;
        align-items: center;
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
}

nav ul li{      
        list-style: none;
        margin-left: 45px;
}

nav ul li a{
        color: #ffffff;
        font-family: "Space Mono", monospace;
}

/*about section*/

section.about {
    display: flex; /* Espacio entre elementos hijos */
}

section.about .empty{
        flex-basis: 37.5vw;
        background-color: var(--grey);
        border-radius: var(--boorder-radius);
        transition: flex-basis 0.5s cubic-bezier(0,.9,.4,.99);
}

section.about article{
        flex: 1; /*El elemento ocupa 2 partes del espacio disponible en un contenedor flexible (si hay otros elementos con flex: 1, este será el doble de grande).*/
        display: flex;
        flex-direction: column;
}

section.about article .title{
        flex: 1;
        display: flex;
        align-items: flex-end;
        background: var(--blue);
        border-radius: var(--boorder-radius);/*Bordes redondeados con un radio de 100 píxeles*/
        padding: 6.27px; /*viewport width*/
        padding-left: 95px;
        font-size: calc(1.4rem + 2vw);
       transition: flex-basis 0.5s cubic-bezier(0,.9,.4,.99);
        
}

section.about article .description{
        flex: 1;
        display: flex;
        align-items: center;
        background: #d6a3fb;
        border-radius: 100px;
        padding: 6.25vw;
        color: #000;
}

/*services */

section.service article{
        display: flex;
        width: 100%;
}

section.service figure{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-basis: 56.25vw;
        margin: 0;
        background: #d0ff94;
        border-radius: 100px;
        max-width: 62.5vw;

}

section.service figure img{
        width: 50%;
}

section.service .text{
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex: 1;
        background: #1f1a1c;
        padding: 6.25vw;
        border-radius: 100px;        
}

section.service .text a{
        font-family: monospace;
}

/*Service secion animations*/

section.service.service-html figure img{
        animation-name: float;
        animation-duration: 1.5s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
        animation-timing-function: ease-in-out;
}

section.service.service-css figure img{
        animation-name: loop;
        animation-duration: 1.5s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
        animation-timing-function: ease-in-out;
}

section.service.service-jss figure img{
        animation-name: pongo;
        animation-duration: 1.5s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
        animation-timing-function: ease-in-out;
}

@keyframes float{
        0%{
                transform: translateY(-20px);
        }
        100%{
                transform: translateY(20px);
        }
}

@keyframes loop{
        0%{
                transform: translateX(-40px);
        }
        100%{
                transform: translateX(40px);
        }
}

@keyframes pongo {
        0%{
                transform:scale(0.7px);
        }
        100%{
                transform: scale(1.5);
        }
        
}


/*Services override*/
/*color del fondo del lado izquierdo con color de las letras*/
section.service.service-html figure{
        background: #d0ff94;
}
section.service.service-html .text h2,
section.service.service-html .text a{
        color: #d6a3fb
}

section.service.service-css figure{
        background-color: var(--blue);
}
section.service.service-css .text h2,
section.service.service-css .text a{
        color: #e5e5e5
}


section.service.service-jss figure{
        background-color: #d6a3fb;
}
section.service.service-jss .text h2,
section.service.service-jss .text a{
        color: #1c47ff
}

/*Contac section*/

section.contact {
        display: flex; 
        align-items: center;
        justify-content:center;
        background: linear-gradient(#1c47ff,#d6a3fb, #92c94b ,#e5e5e5);
        border-radius: 100px;
       /* mix-blend-mode: difference;*/ /*invierte colores */
}
section.contact a{
        font-size: 100px;
        color: #000000;
        transition: filter color 2s;
}
section.contact a:hover{
        color: red;
        filter: blur(20px);
}


/*Responsive */
@media only screen and (max-width: 768px) {
    html, body {
        --border-radius: 50px;
        --gutter: 6.25vw;
    }

    h1 {
        font-size: 60px;
    }

    h1 {
        font-size: 40px;
    }

    nav ul li {
        margin-left: 25px;
    }

    section.service article {
        flex-direction: column;
    }

    section.service figure {
        flex-basis: 25vh;
    }

    section.service figure img {
        width: 20%;
    }

    section.contact a {
        font-size: 50px;
        transform: rotate(90deg);
    }
}